*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
}

.mt-4{
    position:absolute;
    left: 200px;
}

.mt-4 small{
    color: red;
}



.mt-4 .col-auto input:hover{
  border-color:#17c01f ;

}




.mt-4 button{
    background-color: #17c01f;
    color: aliceblue;
}

.mt-4 button:hover{
    background-color:aliceblue ;
    color: #17c01f;
}
